#Enviroment

YII_DEBUG = TRUE
YII_ENV = DEV

#DATABASE
DB_HOST = localhost
DB_NAME = yii2-blog
DB_USERNAME = root
DB_PASSWORD =
DB_PORT = 3306
DB_CHARSET = utf8mb4

#APP KEY

COOKIE_VALIDATION_KEY =

#R2
R2_ACCOUNT_ID =
R2_ACCESS_KEY_ID =
R2_SECRET_ACCESS_KEY =
R2_BUCKET_NAME =
R2_ENDPOINT =
R2_PUBLIC_URL =

#AI WORKER
CF_ACCOUNT_ID =
CF_API_TOKEN =
CF_AI_MODEL =

#CACHE
CACHE_DRIVER = file
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_PASSWORD =
REDIS_DATABASE = 0

#CACHE TTL
CACHE_TTL_POST = 3600
CACHE_TTL_CATEGORY = 86400
CACHE_TTL_TAG = 86400

#MAIL
MAIL_USE_FILE_TRANSPORT = true
SMTP_HOST = smtp.gmail.com
SMTP_USERNAME = 
SMTP_PASSWORD = 
SMTP_PORT = 587
SMTP_ENCRYPTION = tls

